
img { 
    width : auto;
    height : 150px;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li{
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    margin: 5%;
}
.errorlist{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
}
a{ 
 text-decoration:none; 
 border: none;
 color: black;
} 