{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<div style="width: 30%; border: 2px solid black; margin: 5% auto; box-shadow: 12px 12px 2px 1px #0dcaf0;">
<h1 style="text-align: center;"> {{ product.name }} <br> </h1>
<div style="margin: 0 auto; width: 40%;"><img src="{{ product.image }}" alt="image" style="width: 100%; border-radius: 100%;"></div>
<p style="margin-top: 7%; margin-left: 4%;"> <span style="font-weight: 800;">Description :</span> <br> {{ product.description }} <br> </p>
<p style="margin-top: 7%; margin-left: 4%;"> <span style="font-weight: 800;">Quantité :</span> <br> {{ product.quantity }} restants <br> </p>
<h2 style="font-size: 1.5em; margin-right: 5%;" class="d-grid justify-content-end"> Prix : {{ product.price }}€<br> </h2>

<form action="update" method="post" style="margin: 0 auto;">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Acheter"  class="btn btn-primary mb-3" style="margin-top: 10px;" >
</form>

</div>
<div style="width: 100%; display: flex; justify-content: center;">
    <button class="btn btn-danger btn-sm" style="padding: 10px 20px;"><a href="delete" style="color: white; border: none; text-decoration: none;">Supprimer ce produit</a></button>
</div>
